{
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }],
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "external-helpers"
  ],
  "presets": [
    ["es2015", {"modules": false}]
  ],
  "env": {
    "test": {
      "presets": ["es2015"]
    }
  }
}