{
  "extends": ["standard", "standard-jsx"],

  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },

  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "h" }],
    "space-before-function-paren": ["error", "never"],
    "no-multi-spaces": ["error", {
      "exceptions": {
        "VariableDeclarator": true,
        "ImportDeclaration": true
      }
    }],
    "operator-linebreak": ["error", "after", { "overrides": { "?": "ignore", ":": "ignore" } }],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4]
  }
}