*, *:before, *:after {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    padding: 100px 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

body:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./triangulated.svg), linear-gradient(45deg, #3a1c71, #d76d77, #ffaf7b);
    background-size: cover;
    filter: contrast(1.5) sepia(30%);
    z-index: -1;
}

h1 {
    font-size: 90px;
    font-weight: normal;
}
h3 {
    font-size: 30px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.dropdown-content a {
    color: #333;
}

.dropdown-content a span {
    padding: 0 10px;
}

.dropdown-toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    cursor: pointer;
    opacity: 0;
    background: transparent;
    z-index: 1;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
    border-radius: 3px;
    text-indent: 10px;
    line-height: 32px;
    background-color: #eee;
    text-align: right;
    transition: all .25s ease;
}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
    background: #e8e8e8;
}

.dropdown-content:hover,
.dropdown-toggle:hover ~ .dropdown-content {
    opacity: 1;
    visibility: visible;
    top: 110%;
    z-index: 1;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.download-group {
    margin-top: 120px
}

.download-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 60px;
    margin: 10px;
    padding: 15px;
    border-radius: 3px;
    color: #333;
    background-color: #eee;
    cursor: pointer;
    text-align: center;
    user-select: none;
}


@media (max-width: 700px) {
    body {
        width: 93vw;
        padding-top: 50px;
        margin: 0 auto;
        overflow-x: hidden;
    }
    body:before {
        height: 120vmax;
    }

    h1 { font-size: calc(10vh) }
    h3 { font-size: calc(10px + 2vh) }

    .download-group {
        width: 290px;
        margin: 10px auto;
    }
}