$mainColor = #3F51B5
$white = #fff

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font: 14px/1.5 'Lato', sans-serif
  padding: 0
  margin: 0
  position: fixed
  overflow-x: hidden
  width: 100vw
  height: 100vh
//cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/cursor.png) 32 32, move

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

li
  list-style: none

#canvas
  position: absolute
  z-index: -1

.resizer
  width: 10px
  height: 100%
  background-color: #eee
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHBAMAAADdS/HjAAAAGFBMVEUzMzP///9tbW1QUFCKiopBQUF8fHxfX1/IXlmXAAAAHUlEQVQImWMQEGAQFWUQFmYQF2cQEmIQE2MQEQEACy4BF67hpEwAAAAASUVORK5CYII=')
  background-repeat: no-repeat
  background-position: center center
  overflow: hidden
  cursor: col-resize
  z-index: 1

.pane-header
  position: relative
  z-index: 1

.pane-split
  display: flex
  flex: 1 1 0%
  flex-direction: row
  height: 100%
  outline: none
  overflow: hidden
  user-select: text

.pane
  position: relative
  outline: none

.pane-1
  flex: 0 0 auto
  background-color: #eee
  z-index: 1

.pane-2
  position: absolute
  top: 0
  z-index: 0

.node-picker
  height: 100vh
  background-color: #eee

  .node-picker-list
    position: relative
    display: flex
    top: 20px
    overflow: hidden
    flex-wrap: wrap
    justify-content: center

  .node
    display: inline-block
    flex: 0 0 50px
    width: auto
    height: 50px
    margin: 10px

.controls
  display: flex
  border-bottom: 1px solid #ccc
  z-index: 1

  .icon
    align-self: center
    margin: 0 5px
    padding: 5px
    border: 1px solid white
    cursor: pointer
    text-align: center
    font-size: 10px
    user-select: none

    &:hover
      background-color: transparent
      border-radius: 5px
      border: 1px solid #bbb

    &:active
    &.selected
    &.connected
      background-color: transparent
      border-radius: 5px
      border: 1px solid #bbb
      box-shadow: inset 0px 0px 11px -3px grey

  & svg
    vertical-align: middle

.separator
  width: 1px
  height: 40px
  margin: 8px 10px
  background-color: #ccc
  cursor: default

.canvas-node
  position: absolute


#svg-rect
  position: relative

.node-name
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  user-select: none
  cursor: text
  white-space: nowrap

#svg-rect:hover
  cursor: -webkit-grab
#svg-rect:active
  cursor: -webkit-grabbing


label[for=select-nodes] input
label[for=connect-nodes] input
  display: none

.icon.icon-open-tool
  margin-left: auto

