$mainColor = #3F51B5
$white = #fff

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font: 14px/1.5 'Lato', sans-serif
  padding: 0
  margin: 0
  position: fixed
  overflow-x: hidden
  width: 100vw
  height: 100vh
//cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/cursor.png) 32 32, move

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

li
  list-style: none

#canvas
  position: absolute
  z-index: -1

.node-picker
  position: absolute
  height: 100vh
  background-color: #eee

  input.toggle-button
    display: none

  .toggle-label
    float: right
    padding: 15px
    cursor: pointer
    user-select: none

  .node-picker-list
    position: relative
    width 180px
    top: 50px
    transition: width 0.3s ease-in-out

  .toggle-label:checked
    background-color: red

  input.toggle-button:checked + .node-picker-list
    width: 40px
    transition: width 0.3s ease-in-out

    .node
      opacity: 0
      transition: opacity 0s

  .node
    width: 50px
    height: 50px
    margin: 10px auto
    background-color: blue
    opacity: 1
    transition: opacity 0.3s 0.1s linear


.controls
  position: absolute
  display: flex
  float: right
  z-index: 10
  right: 10px
  top: 10px

  & > *
    margin: 5px
    cursor: pointer

  & svg
    vertical-align: middle

.canvas-node
  position: absolute


#svg-rect
  position: relative
  background-color: #ff807f

.node-name
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  user-select: none
  cursor: text

#svg-rect:hover
  cursor: -webkit-grab
#svg-rect:active
  cursor: -webkit-grabbing


  
